<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Welcome, {{ username }}!</h1>
    {% if show_setup %}
        <form action="{{ url_for('setup') }}" method="get">
            <button type="submit">Setup</button>
        </form>
    {% endif %}
    <form action="{{ url_for('change_username') }}" method="get">
        <button type="submit">Change Username</button>
    </form>
    <form method="get" action="{{ url_for('input_players') }}">
        <button type="submit">Buy-in</button>
    </form>
</body>
</html>